# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# test outputs and artifacts
test-output/
test-results.*
*.meta.json.gz
favicon.ico
favicon.svg
bg.png
assets/

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
*.local.json

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# dev artifacts
repomix-output.xml
debug_artifacts
scripts/debug/**
**/todo.md
